<template id="font-card-template">
  <link rel="stylesheet" href="/src/css/FontCard.css">
  <div class="fontCard-container grid-fontCard">
    <div class="fontCard-icon">
      <img src="/images/Font Icon_01_@0.5x.png" alt="generic font icon">
    </div>
    <div class="fontCard-title">
      <h3></h3>
    </div>
    <div class="fontCard-open">
      <i class="fa-solid fa-chevron-right"></i>
    </div>
    <div class="fontCard-tags">
      <button class="btn-tag"></button>
      <button class="btn-tag"></button>
      <button class="btn-tag"></button>
      <button class="btn-tag"></button>
    </div>
  </div>
</template>